.statusPage {
    display:flex;
    flex-direction: column;
    flex: 1;
    width: 412px;
}
.buttonText {
  font-size: 40px;
}
.buttonText:hover {
  border-radius: 1rem;
  background-color: #616278;
}

.clock {
  padding: 0;
}
.clock:hover {
  border-radius: 2rem;
  background-color: #616278;
}

.timeInput {
  margin: auto;
  width: 80%;
  height: 50%;
}

.modalContainer {
  display: flex;
  flex-direction: column;
}

.exitButton {
  margin-left: auto;
  border-radius: 1rem;
  background-color: white;
  width: 8%;
  height: 8%;
}

.exitButton:hover {
  margin-left: auto;
  border-radius: 1rem;
  background-color: rgb(149, 149, 149);
  width: 8%;
  height: 8%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.devicePane{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 10px;
}