.statusPage {
    display:flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
}
.buttonText {
  font-size: 40px;
}
.buttonText:hover {
  border-radius: 1rem;
  background-color: #d2a800;
}
.clock:hover {
  border-radius: 2rem;
  background-color: #d2a800;
}
.split {
  width: 50%;
}

.left {
  left: 0;
  background-color: #003399;
}

.right {
  right: 0;
  padding: 0px;
  background-color: #ffcc00;
}

.devicePane{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 10px;
}