@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Matemasie&display=swap');


.pageHeader {
    background-color: #172121;
    color: #DBE0D7;

    

    text-align: left;

    width: 100%;
    height: 4rem;
    padding: 1rem;
}

.pageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: 5rem;
}

.logo {
    flex: 1;
    font-family: 'Matemasie', cursive;
}

.navList {
    text-wrap: nowrap;
    flex: 2;
    display: flex;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
    gap: 10rem;

    width: min-content;
}

.navItem a {
    color: aliceblue;
    text-decoration: none;
    font-size: 1.2rem;
}

.logo a {
    color: aliceblue;
    text-decoration: none;
}